@import '../common/colors';

.textarea {
  min-height: 200px;
  width: 100%;
  text-align-last: center;
  white-space: normal;
  text-align: justify;
  border: 1px solid var(--blue-0);
  padding: 5px 0 5px 0;
  &:hover, &:active, &:focus {
    border: 2px solid $blue-2;
    outline: none;
  }
}

.text-area-container {
  height: 40%;
  width: 100%;
  margin-top: 20px;
}
